<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Ticket Reservation</title>
</head>
<body>
<!--    <img th:src= "${data.reservation_poster}"/>-->
    <div style="width:100%; justifyContent:center; alignItems:center; display:flex; position:relative">
        <img src="http://www.kopis.or.kr/upload/pfmPoster/PF_PF209894_230117_133614.gif" alt="poster" style="height:13rem; width:10rem; border-radius:1rem 0 0 1rem"/>
        <img src="|cid:${bg_ticket.png}|" alt="poster" style="height:14.2rem; width:35rem"/>
<!--        <img src="images/bg_ticket.png" alt="poster" style="height:14.2rem; width:35rem"/>-->
<!--        <div style={{display:'grid',gridTemplateColumns: 'repeat(2, 1fr)',position:'absolute',top:'50%',left:'59%',transform:'translate(-50%,-50%)',justifyContent:'center',alignItems:'center'}} >-->
<!--        <div style={{display:'grid',gridTemplateColumns: 'repeat(2, 1fr)',height:'14rem',width:'27rem',padding:'0'}}>-->
<!--        <p style={{gridColumn:'span 2/ span 2',fontSize:'1.4rem',fontWeight:'00'}}>오페라의 유령 [부산]</p>-->
<!--        <div style={{display:'flex',flexDirection:'row',alignItems:'center',gap:'0.5rem'}}>-->
<!--            <p>일시</p>-->
<!--            <p style={{fontSize:'1.4rem',fontWeight:'500'}}>23년 2월 23일</p>-->
<!--        </div>-->

<!--        <div style={{display:'flex',flexDirection:'row',alignItems:'center',gap:'0.5rem'}}>-->
<!--            <p>회차</p>-->
<!--            <p style={{fontSize:'1.4rem',fontWeight:'500'}}>14:00</p>-->
<!--        </div>-->

<!--        <div style={{display:'flex',flexDirection:'row',alignItems:'center',gap:'0.5rem'}}>-->
<!--            <p>인원</p>-->
<!--            <p style={{fontSize:'1.4rem',fontWeight:'500'}}>2명</p>-->
<!--        </div>-->

<!--    </div>-->

<!--    <img src={barcode_example} alt="barcode" style={{display:'inline-block',height:'11rem'}}/>-->


    </div>
</body>
</html>