<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<li style="height:13rem;  justify-content:center;  align-items:center;  display:flex;  background-color:#F2F2F2;  border-radius:0 1rem 1rem 0">
  <img src="http://www.kopis.or.kr/upload/pfmPoster/PF_PF209894_230117_133614.gif" alt="poster" style="height:13rem; border-radius:1rem 0 0 1rem"/>
  <div style="display:grid; grid-template-rows: repeat(3, 1fr); padding:0 3rem; align-items:center">
    <div style="height:100%; display:flex; flex-direction:row; align-items:center; gap:1rem; border-bottom:2px solid #C4C4C4">
      <p style="margin:0; padding:0; font-size:1.4rem; font-weight:700">오페라의 유령 [부산]</p>
    </div>
    <div style="display:flex; flex-direction:row; align-items:center; gap:3rem; border-bottom:2px solid #C4C4C4">
      <div style="display:flex; flex-direction:row; align-items:center; gap:1.5rem">
        <p>일시</p>
        <p style="font-size:1.4rem; font-weight:500">23년 2월 23일</p>
      </div>
      <div style="display:flex; flex-direction:row; align-items:center; gap:1.5rem">
        <p>회차</p>
        <p style="font-size:1.4rem; font-weight:500">14:00</p>
      </div>
    </div>
    <div style="display:flex; flex-direction:row; align-items:center; gap:1.5rem">
      <p>인원</p>
      <p style="font-size:1.4rem; font-weight:500">2명</p>
    </div>
  </div>
  <img src={barcode_example} alt="barcode" style="height:11rem; padding:2rem; borderLeft:3px dashed #ffffff"/>
</li>
</body>
</html>

